<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">HW03</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="goto">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> GoTo
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="openbrowser">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Browser
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="versiontracker">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Version Tracker
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="convert">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> convert
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="speaking">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Speaking
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="vibes">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> vibes
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="monitor">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> monitor
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="deviceinfo">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> deviceinfo
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="displaytypepage">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> displaytypepage
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="battery">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> battery
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="network">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> network
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="makeEmail">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> makeEmail
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="contacts">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> contacts
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sms">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> sms
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="call">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> call
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pic">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> pic
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="screen">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Screen Shot
            </NavLink>
        </div>

    </nav>
</div>
