@page "/sms"
<h3>SendSMS</h3>

<button @onclick="Send">Send SMS</button>

@code {
    public async void Send()
    {
        if (Sms.Default.IsComposeSupported)
        {
            string[] recipients = new[] { "000-000-0000" };
            string text = "Hello, I'm interested in buying your vase.";

            var message = new SmsMessage(text, recipients);

            await Sms.Default.ComposeAsync(message);
        }
    }
}

